.panel-inset {
  padding: 0;
  overflow: hidden;
}

.panel-inset table.table {
  margin: 0;
}

textarea {
  max-width: 100% !important;
}

.tooltip {
  max-width: none;
  white-space: nowrap !important;
}

.modal-title {
  display: inline-block !important;
}
