{block content}
<div class="row">
  <div class="col-md-4">
    {snippet form}
      {form addTask class => "ajax"}
      <div class="panel panel-{if $isEditing}info{else}default{/if}">
          <div class="panel-heading">
            {input name class => "form-control", placeholder => "Name of task..."}
          </div>
          <div class="panel-body">
            {input text class => "form-control", placeholder => "Text of task..."}
          </div>
          <div class="panel-footer clearfix">
            {if $isEditing}
              <a href="{link cancelEdit!}" class="ajax btn btn-default btn-xs">Cancel</a>
              {input submit class => "btn btn-info btn-xs pull-right"}
            {else}
              {input submit class => "btn btn-success btn-xs pull-right"}
            {/if}
          </div>
        </div>
        {if $isEditing}
          {input editid}
        {/if}
      {/form}
    {/snippet}
  </div>
  {snippet tasks}
    {foreach $tasks as $task}
        <div class="col-md-4">
          <form>
            <div class="panel panel-default">
              <div class="panel-heading clearfix">
                <div class="btn-group pull-right">
                  <a href="{link delete! $task->id}" data-confirm-modal="#deleteModal" data-confirm-message="Are you sure you want to delete task with name '{$task->name}'" data-placement="top" data-toggle="tooltip" title="Delete this task" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></a>
                  <a href="{link edit! $task->id}" data-placement="top" data-toggle="tooltip" title="Edit this task" class="ajax btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
                  {if $task->state == "Done"}
                    <a href="{link revert! $task->id}" data-placement="top" data-toggle="tooltip" title="Revert marking this as done" class="ajax btn btn-warning btn-xs"><i class="fa fa-undo"></i></a>
                  {else}
                    <a href="{link done! $task->id}" data-placement="top" data-toggle="tooltip" title="Mark this task as done" class="ajax btn btn-success btn-xs"><i class="fa fa-check"></i></a>
                  {/if}
                </div>
                <span>
                  {$task->name} {if $task->state == "Done"}<span class="label label-success">Done</span>{/if}
                </span>
              </div>
              <div class="panel-body">
                {$task->text}
              </div>
            </div>
          </form>
        </div>
    {/foreach}
  {/snippet}
</div>

<div id="deleteModal" class="modal fade modal-autoload">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="modal-message">Try it again please.</p>
      </div>
      <div class="modal-footer clearfix">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
        <a class="ajax btn btn-danger pull-right modal-submit">Delete</a>
      </div>
    </div>
  </div>
</div>
